body {
    margin: 0;
    padding: 0;
    
    font-family: 'PT Sans', 'Tahoma', sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.mountain {
    width: 1200px;
    height: 780px;
    background-color: white;
    background-image: url(../img/index-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-size: 14px;
    color: black;
    background-color: white;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: black;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .main-navigation-current {
    color: #766357;
}

.sedona-logo {
    display: block;
    text-align: center;
}

.content {
    text-align: center;
    line-height: 21px;
}

.intro-text {
    text-align: center;
    background-color: white;
    width: 100%;
    height: auto;
}

.intro-text p {
    font-size: 14px;
    font-weight: 400;
}

.reasons-blue {
    background-color: #81b3d2;
}

.reasons-blue .first-reason-text,
.reasons-blue .second-reason-text {
    color: white;
}

.reasons-blue p,
.reasons-clear p {
    font-size: 14px;
    font-weight: 400;
}

.other-reasons {
    background-color: #eeeeee;
}
.search-form-intro span {
    font-size: 30px;
    line-height: 36px;
    display: block;
    text-align: center;
}

.search-form-intro p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.searching a {
    color: white;
    background-color: #766357;
}

.searching a:hover,
.searching a:focus {
    background-color: #604e43;
}

.searching a:active {
    color: #928a85;
    background-color: #503e33;
}

.visit-sedona {
    text-align: left;
}

.social-media {
    text-align: center;
}

.order-form input {
    font: inherit;
}

.searching label {
    font-size: 14px;
}

.arrival-input input[type="text"],
.departure-input input[type="text"] {
    text-transform: uppercase;
    font-size: 14px;
    background-color: #f2f2f2;
}

.arrival-input input:hover,
.departure-input input:hover {
    background-color: #ebebeb;
}

.arrival-input input:focus,
.departure-input input:focus {
    background-color: white;
}

.arrival-input a,
.departure-input a,
.arrival-input a:hover,
.departure-input a:hover,
.arrival-input a:focus,
.departure-input a:focus {
    background-color: #f2f2f2;
}

.arrival-input input:focus,
.departure-input input:focus {
    background-color: white;
}

.submit-button {
    color: white;
    background-color: #81b3d2;
}

.submit-button:hover {
    color: white;
    background-color: #669ec0;
}

.submit-button:active {
    color: #94b9d2;
    background-color: #5496bd;
}

.map {
    height: 450px;
    background-color: white;
    background-image: url(../img/map.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.social-media-list {
    list-style: none;
}

.social-media-list a {
    color: black;
    width: 16px;
    height: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.visit-sedona a {
    color: black;
}

.searching {
    text-align: center;
}

.site-author a {
    color: black;
    font-size: 14px;
}

.filter-form {
    background-color: #2a3c46;
    background-image: url(../img/filter-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.infrastructure-list li {
    list-style: none;
}

.hotel-type li {
    list-style: none;
}

.filter-form {
    color: white;
}

.filter-form legend {
    font-size: 16px;
    line-height: 21px;
}

.filter-form label {
    font-size: 14px;
    line-height: 21px;
}

.filter-form p {
    font-size: 14px;
    line-height: 21px;
}

.filter-form button {
    color: white;
    background-color: transparent;
}

.filter-form button:hover {
    color: black;
    background-color: white;
}

.search-result img {
    display: block;
    text-align: left;
}

.visually-hidden {
    display: none;
}

.sorting p,
.sorting a {
    font-size: 12px;
    line-height: 18px;
}

.sorting-list {
    list-style: none;
}

.sorting-list a {
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:active {
    color: black;
}

.sorting-list .sorting-current {
    color: #81b3d2;
    border-bottom: none;
}

.sorting-list .sorting-current:hover {
    color: #81b3d2;
    border-bottom: none;
}

.hotels h1 {
    font-size: 21px;
    line-height: 26px;
}

.hotels p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.hotel-title {
    color: black;
}

.hotel-title:hover {
    color: #81b3d2;
}

.hotel-title:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotel-about,
.hotel-about:hover {
    font-size: 14px;
    line-height: 21px;
    color: white;
    background-color: #81b3d2;
}

.hotel-order,
.hotel-order:hover {
    font-size: 14px;
    line-height: 21px;
    color: white;
    background-color: #766357;
}

.hotel-about:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotel-order:active {
    color: rgba(255, 255, 255, 0.3);
}

.social-media-item {
    position: relative;
    display: block;
    width: 46px;
    height: 48px;
    font-size: 0px;
    margin: 10px;
    background-color: #81b3d2;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-media-item:hover {
    background-color: #669ec0;
}

.social-media-item:active {
    background-color: #5496bd;
}

.social-media-item a:first-child {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 15px;
    background-position: -130px -56px;
    display: block;
}

.social-media-item a:nth-child(2) {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 22px;
    background-position: -98px -5px;
    display: block;
}

.social-media-item a:last-child {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    background-position: -211px -56px;
    display: block;
}

.social-media-item a:first-child:hover {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 15px;
    background-position: -184px -56px;
    display: block;
}

.social-media-item a:nth-child(2):hover {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 22px;
    background-position: -142px -5px;
    display: block;
}

.social-media-item a:last-child:hover {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    background-position: -130px -82px;
    display: block;
}

.social-media-item a:first-child:active {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 17px;
    height: 15px;
    background-position: -157px -56px;
    display: block;
}

.social-media-item a:nth-child(2):active {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 12px;
    height: 22px;
    background-position: -120px -5px;
    display: block;
}

.social-media-item a:last-child:active {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 20px;
    height: 16px;
    background-position: -241px -56px;
    display: block;
}

.site-author a {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 115px;
    height: 41px;
    background-position: -5px -37px;
    display: inline-block;
}

.site-author a:hover {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 115px;
    height: 41px;
    background-position: -164px -5px;
    display: inline-block;
}

.site-author a:active {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 115px;
    height: 41px;
    background-position: -5px -88px;
    display: inline-block;
}

.arrival-input a,
.departure-input a {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
    background-position: -5px -5px;
    display: inline-block;
}

.arrival-input a:hover,
.departure-input a:hover {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
    background-position: -67px -5px;
    display: inline-block;
}

.arrival-input a:active,
.departure-input a:active {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
    background-position: -36px -5px;
    display: inline-block;
}