body {
    margin: 0;
    padding: 0;
    
    font-family: 'PT Sans', 'Tahoma', sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    width: 1200px;
}

.mountain {
    width: 1200px;
    height: 780px;
    background-color: white;
    background-image: url(../img/index-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

a {
    text-decoration: none;
}

.main-navigation {
    font-size: 14px;
    color: black;
    background-color: white;
}

.site-navigation {
    list-style: none;
}

.site-navigation a {
    color: black;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .main-navigation-current {
    color: #766357;
}

.sedona-logo {
    display: block;
    text-align: center;
}

.content {
    text-align: center;
    line-height: 21px;
}

.reasons-blue {
    background-color: #81b3d2;
}

.reasons-blue .first-reason-text,
.reasons-blue .second-reason-text {
    color: white;
}

.reasons-blue p,
.reasons-clear p {
    font-size: 14px;
    font-weight: 400;
}

.search-form-intro span {
    font-size: 30px;
    line-height: 36px;
    display: block;
    text-align: center;
}

.search-form-intro p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.searching a {
    color: white;
    background-color: #766357;
}

.searching a:hover,
.searching a:focus {
    background-color: #604e43;
}

.searching a:active {
    color: #928a85;
    background-color: #503e33;
}

.visit-sedona {
    text-align: left;
}

.social-media {
    text-align: center;
}

.site-author {
    text-align: right;
}

.order-form input {
    font: inherit;
}

.searching label {
    font-size: 14px;
}

.arrival-input input[type="text"],
.departure-input input[type="text"] {
    text-transform: uppercase;
    font-size: 14px;
    background-color: #f2f2f2;
}

.arrival-input input:hover,
.departure-input input:hover {
    background-color: #ebebeb;
}

.arrival-input input:focus,
.departure-input input:focus {
    background-color: white;
}

.submit-button {
    color: white;
    background-color: #81b3d2;
}

.submit-button:hover {
    color: white;
    background-color: #669ec0;
}

.submit-button:active {
    color: #94b9d2;
    background-color: #5496bd;
}

.map {
    height: 450px;
    background-color: white;
    background-image: url(../img/map.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.social-media-list {
    list-style: none;
}

.social-media-list a {
    color: black;
}

.visit-sedona a {
    color: black;
}

.searching {
    text-align: center;
}

.site-author a {
    color: black;
    font-size: 14px;
}

.site-author img:hover {
    color: #81b3d2;
}

.site-author img:active {
    color: #c1bfc0;
}

.filter-form {
    background-color: #2a3c46;
    background-image: url(../img/filter-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.infrastructure-list li {
    list-style: none;
}

.hotel-type li {
    list-style: none;
}

.filter-form {
    color: white;
}

.filter-form legend {
    font-size: 16px;
    line-height: 21px;
}

.filter-form label {
    font-size: 14px;
    line-height: 21px;
}

.filter-form p {
    font-size: 14px;
    line-height: 21px;
}

.filter-form button {
    color: white;
    background-color: transparent;
}

.filter-form button:hover {
    color: black;
    background-color: white;
}

.search-result img {
    display: block;
    text-align: left;
}

.visually-hidden {
    display: none;
}

.sorting p,
.sorting a {
    font-size: 12px;
    line-height: 18px;
}

.sorting-list {
    list-style: none;
}

.sorting-list a {
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:active {
    color: black;
}

.sorting-list .sorting-current {
    color: #81b3d2;
    border-bottom: none;
}

.sorting-list .sorting-current:hover {
    color: #81b3d2;
    border-bottom: none;
}

.hotels h1 {
    font-size: 21px;
    line-height: 26px;
}

.hotels p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.hotel-title {
    color: black;
}

.hotel-title:hover {
    color: #81b3d2;
}

.hotel-title:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotel-about,
.hotel-about:hover {
    font-size: 14px;
    line-height: 21px;
    color: white;
    background-color: #81b3d2;
}

.hotel-order,
.hotel-order:hover {
    font-size: 14px;
    line-height: 21px;
    color: white;
    background-color: #766357;
}

.hotel-about:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotel-order:active {
    color: rgba(255, 255, 255, 0.3);
}