body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', 'Tahoma', sans-serif;
    font-size: 21px;
    line-height: 26px;
    font-weight: 700;
    color: black;
    text-transform: uppercase;
}

.container {
    margin: 0 auto;
    width: 1200px;
    box-shadow: 
        100px 0 3px 0 #f2f2f2,
        -100px 0 3px 0 #f2f2f2;
}

.mountain {
    width: 1200px;
    min-height: 509px;
    background-color: #2a3a49;
    background-image: url(../img/index-background.jpg);
    background-position: 50% 21%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.mountain-text {
    position: relative;
    display: block;
    margin: 0 auto;
    padding-top: 75px;
}

.mountain-mask {
    padding-top: 15px;
    position: absolute;
    bottom: 0;
}

a {
    text-decoration: none;
}

.main-header {
    min-height: 56px;
    position: relative;
    z-index: 2;
}

.main-navigation {
    font-size: 14px;
    color: black;
    background-color: white;
}

.site-navigation {
    list-style: none;
}

.site-navigation li {
    padding-top: 12px;
}

.site-navigation a {
    color: black;
}

.site-navigation a:hover,
.site-navigation a:focus {
    color: #81b3d2;
}

.site-navigation a:active {
    color: rgba(0, 0, 0, 0.3);
}

.site-navigation .main-navigation-current {
    color: #766357;
}

.sedona-logo {
    display: block;
    text-align: center;
}

.content {
    text-align: center;
    line-height: 21px;
    position: relative;
    z-index: 2;
}

.intro-text {
    text-align: center;
    background-color: white;
    width: 1200px;
    min-height: 216px;
}

.intro-text p {
    font-size: 14px;
    font-weight: 400;
}

.reasons-blue {
    background-color: #81b3d2;
}

.reasons-blue .first-reason-text,
.reasons-blue .second-reason-text {
    color: white;
}

.reasons-blue p,
.reasons-clear p {
    font-size: 14px;
    font-weight: 400;
}

.other-reasons {
    background-color: #eeeeee;
}

.search-form-intro {
    width: 1200px;
    min-height: 233px;
    padding-top: 58px;
    position: relative;
    z-index: 2;
}

.search-form-intro span {
    font-size: 30px;
    line-height: 36px;
    display: block;
    text-align: center;
}

.search-form-intro p {
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 80px;
}

.search-form-intro a {
    color: white;
    background-color: #766357;
    background-size: cover; 
    text-align: center;
    padding-top: 30px;
    padding-bottom: 28px;
    padding-left: 141px;
    padding-right: 140px;
    margin-left: 316px;
}

.search-form-intro a:hover,
.search-form-intro a:focus {
    background-color: #604e43;
}

.search-form-intro a:active {
    color: #928a85;
    background-color: #503e33;
}

.visit-sedona {
    text-align: left;
}

.social-media {
    text-align: center;
}

.searching {
    width: 572px;
    min-height: 396px;
    position: relative;
}

.order-form {
    width: 571px;
    min-height: 419px;
    display: block;
    text-align: center;
    position: absolute;
    top: 0;
    left: 315px;
    background-color: white;
    z-index: 2;
}

.order-form input {
    font: inherit;
}

.searching label {
    font-size: 14px;
}

.arrival-input input[type="text"],
.departure-input input[type="text"] {
    text-transform: uppercase;
    font-size: 14px;
    background-color: #f2f2f2;
}

.arrival-input input:hover,
.departure-input input:hover {
    background-color: #ebebeb;
}

.arrival-input input:focus,
.departure-input input:focus {
    background-color: white;
}

.arrival-input a,
.departure-input a,
.arrival-input a:hover,
.departure-input a:hover,
.arrival-input a:focus,
.departure-input a:focus {
    background-color: #f2f2f2;
}

.arrival-input input:focus,
.departure-input input:focus {
    background-color: white;
}

.submit-button {
    color: white;
    background-color: #81b3d2;
}

.submit-button:hover {
    color: white;
    background-color: #669ec0;
}

.submit-button:active {
    color: #94b9d2;
    background-color: #5496bd;
}

.map {
    width: 1200px;
    height: 593px;
    background-color: white;
    background-image: url(../img/map.jpg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    position: relative;
    z-index: 1;
}

.social-media-list {
    list-style: none;
}

.visit-sedona a {
    color: black;
}

.searching {
    text-align: center;
    position: absolute;
    top: 2169px;
    z-index: 2;
}

.infrastructure-list li {
    list-style: none;
}

.hotel-type li {
    list-style: none;
}

.filter-form {
    color: white;
    background-color: #2a3c46;
    background-image: url(../img/filter-background.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.filter-form legend {
    font-size: 16px;
    line-height: 21px;
}

.filter-form label {
    font-size: 14px;
    line-height: 21px;
}

.filter-form p {
    font-size: 14px;
    line-height: 21px;
}

.search-result img {
    display: block;
    text-align: left;
}

.visually-hidden {
    display: none;
}

.sorting p,
.sorting a {
    font-size: 12px;
    line-height: 18px;
}

.sorting-list {
    list-style: none;
}

.sorting-list a {
    color: #cacaca;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sorting-list a:active {
    color: black;
}

.sorting-list .sorting-current {
    color: #81b3d2;
    border-bottom: none;
}

.sorting-list .sorting-current:hover {
    color: #81b3d2;
    border-bottom: none;
}

.hotels h1 {
    font-size: 21px;
    line-height: 26px;
}

.hotels p {
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
}

.hotel-title {
    color: black;
}

.hotel-title:hover {
    color: #81b3d2;
}

.hotel-title:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-about {
    font-size: 14px;
    line-height: 21px;
    color: white;
    background-color: #81b3d2;
}

.hotel-about:hover {
    background-color: #669ec0;
}

.hotel-order {
    font-size: 14px;
    line-height: 21px;
    color: white;
    background-color: #766357;
}

.hotel-order:hover {
    background-color: #604e43;
}

.hotel-about:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #5496bd;
}

.hotel-order:active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #503e33;
}

.social-media-list span {
    color: black;
    width: 16px;
    height: 17px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-media-item a {
    position: relative;
    display: block;
    width: 46px;
    height: 48px;
    font-size: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: #81b3d2;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
}

.social-media-item .twitter-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-media-item .facebook-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-media-item .youtube-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.social-media-item a:hover {
    background-color: #669ec0;
}

.social-media-item a:active {
    background-color: #5496bd;
}

.logo-twitter:active {
    fill: rgba(255, 255, 255, 0.3);
}

.logo-facebook:active {
    fill: rgba(255, 255, 255, 0.3);
}

.logo-youtube:active {
    fill: rgba(255, 255, 255, 0.3);
}

.social-media-item a:active .logo-twitter,
.social-media-item a:active .logo-facebook,
.social-media-item a:active .logo-youtube {
    fill: rgba(255, 255, 255, 0.3);
}

.site-author a {
    display: inline-block;
    vertical-align: middle;
}

.logo-htmlacademy:hover {
    fill: #81b3d2;
}

.logo-htmlacademy:active {
    fill: #bdbbbc;
}

.arrival-input a,
.departure-input a {
    background-color: transparent;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
    background-position: -5px -5px;
    display: inline-block;
    position: absolute;
}

.arrival-input a:hover,
.departure-input a:hover {
    background-color: transparent;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
    background-position: -67px -5px;
    display: inline-block;
    position: absolute;
}

.arrival-input a:active,
.departure-input a:active {
    background-color: transparent;
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
    background-position: -36px -5px;
    display: inline-block;
    position: absolute;
}

.site-author span {
    color: black;
    font-size: 14px;
    margin-right: 10px;
    font-weight: 400;
}

/* --- Сеточные стили --- */

.main-header {
    display: block;
}

.sedona-logo {
    width: 138px;
    height: 70px;
    display: block;
    position: absolute;
    top: 0;
    left: 531px;
}

.site-navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 56px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.site-navigation li {
    display: block;
    width: 240px;
    min-height: 44px;
}

.site-navigation li:first-child {
    text-align: center;
}

.site-navigation li:nth-child(2) {
    text-align: center;
}

.site-navigation li:nth-child(3) {
    margin-left: auto;
    text-align: center;
}

.site-navigation li:last-child {
    align-self: flex-end;
    text-align: center;
}

.intro-text {
    min-height: 216px;
    position: relative;
    z-index: 2;
}

.intro-text b {
    display: block;
    width: 440px;
    min-height: 48px;
    font-size: 21px;
    line-height: 26px;
    margin: 0 auto;
    padding-top: 60px;
}

.intro-text p {
    display: block;
    width: 490px;
    min-height: 13px;
    font-size: 14px;
    line-height: 26px;
    margin: 0 auto;
    padding-top: 27px;
}

.reasons-blue {
    min-height: 256px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.first-reason-text {
    width: 400px;
    padding-top: 50px;
}

.first-reason-background {
    width: 800px;
    font-size: 0;
    line-height: 0;
    bottom: 0;
}

.second-reason-text {
    width: 400px;
    padding-top: 49px;
}

.second-reason-background {
    width: 800px;
    font-size: 0;
    line-height: 0;
    bottom: 0;
}

.text-squeezer-1 {
    width: 280px;
    min-height: 146px;
    margin: 0 auto;
}

.text-squeezer-1 h3 {
    width: 133px;
    min-height: 46px;
    font-size: 21px;
    line-height: 21px;
    margin: 0 auto;
}

.text-squeezer-2 {
    width: 303px;
    min-height: 142px;
    margin: 0 auto;
}

.text-squeezer-2 h3 {    
    font-size: 21px;
    line-height: 21px;
}

.features {
    min-height: 330px;
    display: flex;
}

.feature-item {
    width: 400px;
    padding-top: 61px;
}

.flat-item {
    width: 252px;
    min-height: 81px;
    margin: 0 auto;
}

.flat-item::before {
    content: url(../img/icon-1-flat.svg);
}

.flat-item h3 {
    font-size: 21px;
    line-height: 21px;
    margin: 0 auto;
    padding-top: 20px;
}

.food-item {
    width: 285px;
    min-height: 79px;
    margin: 0 auto;
}

.food-item::before {
    content: url(../img/icon-2-food.svg);
}

.food-item h3 {
    font-size: 21px;
    line-height: 21px;
    margin: 0 auto;
    padding-top: 20px;
}

.gift-item {
    width: 273px;
    min-height: 80px;
    margin: 0 auto;
}

.gift-item::before {
    content: url(../img/icon-3-gift.svg);
}

.gift-item h3 {
    font-size: 21px;
    line-height: 21px;
    margin: 0 auto;
    padding-top: 20px;
}

.other-reasons {
    min-height: 256px;
    display: flex;
}

.reasons-text {
    width: 400px;
    padding-top: 50px;
}

.third-reason {
    width: 208px;
    min-height: 143px;
    margin: 0 auto;
}

.third-reason h3 {
    width: 208px;
    min-height: 48px;
    font-size: 21px;
    line-height: 21px;
    margin: 0 auto;
}

.fourth-reason {
    width: 262px;
    min-height: 142px;
    margin: 0 auto;
}

.fourth-reason h3,
.fifth-reason h3 {
    width: 111px;
    min-height: 49px;
    font-size: 21px;
    line-height: 21px;
    margin: 0 auto;
}

.fifth-reason {
    width: 260px;
    min-height: 142px;
    margin: 0 auto;
}

.main-footer {
    width: 1200px;
    min-height: 120px;
    display: flex;
    background-color: rgba(248, 250, 245, 0.9);
    z-index: 2;
}

.main-footer-index {
    width: 1200px;
    position: absolute;
    margin-top: -120px;
    z-index: 2;
}

.visit-sedona {
    width: 400px;
    padding-top: 45px;
}

.social-media {
    width: 400px;
    padding-top: 25px;
}

.site-author {
    width: 400px;
    padding-top: 39px;
}

.visit-sedona-wrapper {
    width: 136px;
    min-height: 16px;
    margin: 0 auto;
}

.social-media-wrapper {
    width: 150px;
    min-height: 48px;
    margin: 0 auto;
}

.site-author-wrapper {
    width: 200px;
    min-height: 41px;
    margin: 0 auto;
}

.social-media-list {
    min-width: 150px;
    min-height: 48px;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.filter-form {
    min-height: 185px;
    display: flex;
    padding-top: 32px;
    padding-left: 73px;
}

.filter-form fieldset {
    border: none;
}

.filter-form fieldset:last-child {
    margin-left: auto;
}

.filter-range {
    width: 317px;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;
    font-size: 16px;
    line-height: 21px;
    font-weight: 700;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid white;
    border-radius: 2px;
}

.price-controls::after{
    content: "";
    position: absolute;
    width: 2px;
    height: 22px;
    background: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 34px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 55px;
}

.price-controls input {
    width: 40px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
    outline: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: white;    
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.filter-range-btn {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: 2px solid white;
    border-radius: 2px;
    outline: none;
    cursor: pointer
}

.filter-range-btn:hover {
    color: black;
    background-color: white;
}

.sorting {
    min-height: 86px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 73px;
}

.sorting-list {
    min-height: auto;
    display: flex;
}

.hotels {
    min-height: 148px;
    display: flex;
    border: 2px solid #e5e5e5;
    border-collapse: collapse;
    padding-left: 73px;
}

.rating {
    margin-left: auto;
    margin-top: auto;
}

.rating-amara::before {
    content: url(../img/star.svg);
}

.rating-desert::before {
    content: url(../img/star.svg);
}

.rating-villas::before {
    content: url(../img/star.svg);
}

.rating-wrapper {
    width: 110px;
    min-height: 27px;
    margin: 0 auto;
    background-color: #f2f2f2;
}